<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> History Scan </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="sendEmail()" color="primary"
        ><ion-icon name="send-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- List of Text Items -->
  <ion-list>
    <ion-item *ngFor="let data of datalocalService.guardados">
      <ion-icon slot="start">barcode</ion-icon>
      <ion-label>data.text</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
